.grid {
    border: 5px solid black;
    height: 600px;
    width: 600px;
    margin: 0 auto;
    padding: 0px;
    font-size: 0px;
    background-color: black;
    box-sizing: content-box;
}

.cell {
    border: 1px solid black;
    display: inline-block;
    margin: 0px;
    padding: 0px;
    box-sizing: content-box;
}

.header{
    text-align: center;
    background: #F8F8F8;
    margin-bottom: 20px;
    padding: 15px;
    min-width: 600px;
}

h1{
    margin: 0 0;
}

.footer{
    padding: 50px;
    text-align: center;
}


@media (min-width: 768px){
    #info{
        margin: 0 12.5%;
    }
    .col-md-6{
        max-width: none !important;
    }
}


.pixel-span {
    margin-bottom: 20px;
}